% rebase('osnova.html', izbrani_zavihek='info')

<body>
    <section class="section">
      <div class="container">
        <h1 class="title">Kaj je Glasbeni dnevnik?</h1>
        <p>
          Glasbeni dnevnik je preprost program za beleženje nedavno poslušane glasbe. Natančneje, v njem <b>beležimo albume</b>.
          Ker pa vanj ne vnašamo zgolj objektivnih podatkov, kot so naslov, izvajalec in leto izdaje, ima program <b>osebno noto</b>.
          Koncept dnevnika se kaže v <b>sledenju časa vnosov</b> in možnosti <b>opisne ocene</b>, v katero lahko <b>zapišemo svoje občutke</b>
          ob poslušanju albuma, kakšen <b>verz</b>, ki nam je ostal v spominu, lahko pa zapišemo tudi <b>kritiko</b>.           
        </p>
        <br>
        <p>
          Ravno zaradi dnevniškega formata, nam program <b>ne omogoča, da bi pretekle vnose brisali</b>. V primeru, ko bi radi nek album
          vnesli ponovno, se ob naslovu novega vnosa zapiše število vnosov tega albuma. Tako lahko opazujemo, kako se je naše mnenje
          skozi čas spremenilo.
        </p>
        <br>
        <p>
          Program pa nam omogoča tudi razvrščanje albumov po <b>abecedi</b>, <b>letu izdaje</b>, <b>avtorju</b> ter <b>glasbeni zvrsti</b>.
        </p>
        <br>
        <p>
          <b>Želim vam veliko veselja med uporabo!</b>
        </p>
      </div>
    </section>
  </body>