% rebase('osnova.html')

<b> Dodaj nov album</b>
<form action="/dodaj-album/" method="POST">
    % include('_izberi_naslov.html', id='izvajalec', oznaka='izvajalec')
    <br>
    % include('_izberi_naslov.html', id='naslov', oznaka='naslov')
    <br>
    % include('_izberi_naslov.html', id='leto izdaje', oznaka='leto izdaje')
    <br>
    % include('_izberi_zvrst.html', id='zvrst', oznaka='glasbena zvrst')
    <br>
    % include('_izberi_oceno.html', id='ocena', oznaka='ocena')
    <br>
    <label for="izvajalec"> opis: </label>: <input type="text" name="opis">
    <br>
    <input type="submit" value="nov album">
</form>

<div class="container has-background-white-ter">
    <ul>
        % for album in dnevnik.seznam_albumov[::-1] :
        <li>
            <p>
                <b> {{(album.datum)}}: {{album.izvajalec}} - {{album.naslov}} </b><br>
                {{album.leto_izdaje}} <br>
                {{album.zvrst}} <br>
                ocena: {{album.ocena}} / 10 <br>
                kratek opis: {{album.opis}}
            </p>
        </li>
        % end
    </ul>

    
          
    <div class="box">
        <aside class="menu">
            <p class="menu-label">
                sortiraj po:
            </p>
            <ul class="menu-list">
                <li><a>datumu vnosa</a></li>
                <li><a>abecedi</a></li>
                <li><a>glasbeni zvrsti</a></li>
                <li><a>avtorju</a></li>
            </ul>
        </aside>
    </div>



