%rebase('osnova.html')

<b>
    <pre>
    ______  ____    ____    ______  ______  ______  ____   _  ____  
    |   ___||    |  |    \  |   ___||      >|   ___||    \ | ||    | 
    |   |  ||    |_ |     \  `-.`-. |     < |   ___||     \| ||    | 
    |______||______||__|\__\|______||______>|______||__/\____||____| 
     _____   ____   _  ______  __    _ ____   _  ____  __  __        
    |     \ |    \ | ||   ___|\  \  //|    \ | ||    ||  |/ /        
    |      \|     \| ||   ___| \  \// |     \| ||    ||     \        
    |______/|__/\____||______|  \__/  |__/\____||____||__|\__\       
                                                                     
</pre>
</b>


<b> ALBUMI</b>
<p> število albumov: {{dnevnik.stevilo_albumov()}} </p>
<p> Povprečna ocena: {{dnevnik.povprecna_ocena()}} </p>
<ul>
    % for album in dnevnik.seznam_albumov[::-1] :
    <li>
        <p>
            <b> {{(album.datum)}}: {{album.izvajalec}} - {{album.naslov}} </b><br>
            {{album.leto_izdaje}} <br>
            {{album.zvrst}} <br>
            ocena: {{album.ocena}} / 10 <br>
            kratek opis: {{album.opis}}
        </p>
    </li>
    % end
</ul>

<b> Dodaj nov album</b>
<form action="/dodaj-album/" method="POST">
    % include('_izberi_naslov.html', id='izvajalec', oznaka='izvajalec')
    <br> 
    % include('_izberi_naslov.html', id='naslov', oznaka='naslov') 
    <br>
    % include('_izberi_naslov.html', id='leto izdaje', oznaka='leto izdaje')
    <br>
    % include('_izberi_zvrst.html', id='zvrst', oznaka='glasbena zvrst') 
    <br>    
    % include('_izberi_oceno.html', id='ocena', oznaka='ocena') 
    <br>
    <label for="izvajalec"> opis: </label>: <input type="text" name="opis"> 
    <br>
    <input type="submit" value="nov album">
</form>